<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Firma Landes con Vue.js</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <style>
    input[type=text],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
      color:#0068a7";
    }
  
    div #data-imput {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      width: 20%;
      float: left;
    }
    div #firma {
      width: 60%;
      float: left;
      padding: 20px;

    }
    div #app {
     display: table;
     width: 100%;
     padding: 5px;
  }
  </style>
</head>
<body>
  <div id="app">
    <div id="data-imput" style="font-size:16px; font-family:Arial; font-weight:bold; color:#0068a7">
      <label>Nombre: </label>
      <input type="text" v-model="name"><br>
      <label>Email: </label>
      <input type="text" v-model="email"><br>
      <label>Télefono: </label>
      <input type="text" v-model="phone">
      <br>
      <label>Dirección:</label><br>
      <input type="radio" id="santiago" value="Santiago" v-model="city">
      <label for="santiago">Santiago</label>
      <br>
      <input type="radio" id="thno" value="Talcahuano" v-model="city">
      <label for="thno">Talcahuano</label>
      <br>
      <input type="radio" id="thno" value="San Vicente" v-model="city">
      <label for="svn">San Vicente</label>
      <br>
      <input type="radio" id="thno" value="TTP" v-model="city">
      <label for="ttp">TTP</label>
      <br>
      <input type="radio" id="dalcahue" value="Dalcahue" v-model="city">
      <label for="dalcahue">Dalcahue</label>
      <br>
    </div>
    <div id="firma">
      <table border=0 style="padding:40px 0 0 0; line-height: 13px; letter-spacing: -0.3px;">
      <tbody>
        <tr>
          <td>
            <a href="#" style="text-decoration:none;">
              <img style="width:150px;" src="http://www.landes.cl/LANDES.PNG" alt="Logo Landes S.A.">
            </a>
          </td>
          <td>
            <div style="font-family:Arial; color:#0068a7;border-left:2px solid #0068a7;float:left;padding-left:15px;">
              <span style="font-size:16px; font-weight:bold; color:#0068a7; display:block; margin-bottom: 3px;">{{ name }}</span>
              <span style="font-size: 13px; font-weight:bold; color:#666;">
                <span style="display:block;">{{ email }}</span>
                <span style="display:block;">{{ phone }}</span>  
              </span>
              <template v-if="city === 'Santiago'">
              <span style="font-size:13px; font-family:Arial; color:#555; display: block; margin-top: 10px;">
                <span style="display:block;">Av. Tajamar 183, of 702, Las Condes, Santiago.</span>
                <span style="display:block;">+56 2 2233 7151</span>
                <span style="color:#0068a7; font-weight:bold; display:block;">www.landes.cl</span>
              </span>
              </template>
              <template v-if="city === 'Talcahuano'">
                <span style="font-size:13px; font-family:Arial; color:#555; display: block; margin-top: 10px;">
                  <span style="display:block;">Isla Rocuant S/N, Talcahuano.</span>
                  <span style="display:block;">+56 41 285 7000</span>
                  <span style="color:#0068a7; font-weight:bold; display:block;">www.landes.cl</span>
                </span>
              </template>
              <template v-if="city === 'Dalcahue'">
                <span style="font-size:13px; font-family:Arial; color:#555; display: block; margin-top: 10px;">
                  <span style="display:block;">Astilleros S/N, Dalcahue, Chiloé.</span>
                  <span style="display:block;">+56 65 264 1701</span>
                  <span style="color:#0068a7; font-weight:bold; display:block;">www.landes.cl</span>
                </span>
              </template>
              <template v-if="city === 'San Vicente'">
                <span style="font-size:13px; font-family:Arial; color:#555; display: block; margin-top: 10px;">
                  <span style="display:block;">Caleta Infernillo S/N, Talcahuano.</span>
                  <span style="display:block;">+56 41 285 7095</span>
                  <span style="color:#0068a7; font-weight:bold; display:block;">www.landes.cl</span>
                </span>
              </template>
              <template v-if="city === 'TTP'">
                <span style="font-size:13px; font-family:Arial; color:#555; display: block; margin-top: 10px;">
                  <span style="display:block;">Blanco Encalada 701, Talcahuano.</span>
                  <span style="display:block;">+56 41 285 7093</span>
                  <span style="color:#0068a7; font-weight:bold; display:block;">www.landes.cl</span>
                </span>
              </template>
            </div>
          </td>
        </tr>
      </tbody>
      </table>
    </div> 
  </div>
  <script>
    var app = new Vue({
        el: '#app',
        data: {
          name: 'Aquí tu nombre',
          email: 'usuario@landes.cl',
          phone: '+56 9 1234 5678',
          city: 'Santiago'
        }
      })
  </script>
</body>
</html>
